@font-face {
  font-family: 'Roboto Light';
    src: url('../font/Roboto-Light.ttf') format('truetype');

}

@font-face {
  font-family: 'Roboto Regular';
    src: url('../font/Roboto-Regular.ttf') format('truetype');

}

@font-face {
  font-family: 'Roboto Thin';
    src: url('../font/Roboto-Thin.ttf') format('truetype');

}

@font-face {
  font-family: 'Roboto Bold';
    src: url('../font/Roboto-Bold.ttf') format('truetype');

}